* {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
main{
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.left{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 30%;
    padding-top: 60px;
    
}
.profile-picture{
    width: 50%;
}
.name{
    margin: 20px;
    font-size: 50px;
}
.job{
    margin: inherit;
    color: grey;
    font-size: 30px;

}
.div-left{
    display: flex;
    flex-direction: column;
    justify-content: left;
}
.p-left{
    
    margin: 10px;
    
}
span{
    color: blue;
    font-weight: 600;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}
.icon{
    width:8%
}
.right{
    width:70%;
    background-color: rgb(249, 242, 234);
}

nav ul {
    display: flex;
    justify-content: space-around;
    margin-top:20px ;
}

nav li {
    color: black;
    text-transform: uppercase;
    font-weight: 800;
    padding: 10px;
    border-radius: 10px;
}

nav a:hover {
    background-color: #fca311;
}
.right-text-p{
    padding: 40px;
}

@media only screen and (max-width: 600px) {
   .left, .right{
    width: 100vw;
    padding-top: 20px;
   }
   .nav ul{
    display: flex;
    flex-wrap:wrap ;
   }
}